.tags li{
    width: 280px;
    height: 50px;
    line-height: 50px;
     margin-bottom: 10px;
    border: 1px solid #cccccc;
    padding-left: 20px;
    background-color: rgb(131,202,254);
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: .5em;
    border-radius: 10px;
}

.qrode{
    position: relative;
    margin-top: 20px;
    padding: 10px;
    width: 280px;
    display: flex;
    align-items: center;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    background: #ffffff;
    font-family: Arial;


}
.qrode_title{
    padding-left: 10px;
}
.download{
  padding-top: 10px;
    font-size: 13px;
    color: #787878;
}

.qrShow{
    position: absolute;
    top: -190px;
    left: 50%;
    transform: translate(-50%);
    height: 150px;
    width: 150px;
    border: 1px solid #cccccc;
    z-index: 999;
    background: #ffffff;
    padding: 10px;
}
.qrShow::before{
    position: absolute;
    content: "";
    bottom: -40px;
    left: 40%;
    transform: translate(-50%);
    width: 0;
    height: 0;
    border: 20px solid;
    border-color: #f3f3f3 transparent transparent;
}

.recommend{
    width: 280px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #787878;
}

.content{
    width: 280px;
    margin-top: 20px;
    display: flex;
    font-size: 14px;
    padding-bottom: 10px;
}
.first{
    flex: 3;
    height: 48px;
}
.first_image{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    vertical-align: top;
}
.second{
    flex: 7;
    padding-top: 5px;
}
.second_love{
    font-size: 13px;
    padding-top: 10px;
}
.three{
    color: green;
    flex: 2;
    padding-top: 5px;
}
